# Data Science Tools and Ecosystem #

In this notebook, I will try to summarise Data Science Tools and Ecosystems.

**Objectives:**
- Understand what JupyterNotebook is
- Understand what it is used for
- Gain some basic skills in using JupyterNotebook

Some of the popular languages used in data science are:
1. Python
2. R
3. SQL

Some commonly used libraries that are used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| JupyterLab|
| RStudio|
| Google Colab  |

### Here are a few examples of arithmetic expressions in Python.###

In [15]:
#Here is a simple arithmetic expression to multiply a number and then add integers to it
(3*4)+5

17

In [16]:
# This formula will convert 200 minutes to hours by dividing it by sixty
200 / 60

3.3333333333333335

## Author name: 
Geff Mal